.tablinks {
    background-color: #C4C4C4;
    border: none;
    cursor: pointer;
    margin: 18px;
    padding: 10px 10px;
    margin-top: 0px;
    /* transition: 0.3s; */
    font-size: 14px;
    font-weight: bolder;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    /* border: 1px solid #443F3F; */
}

.tab button:hover {
    background-color: rgb(221, 216, 216);
}


.tabcontent {
    align-items: flex-start;
    margin: 20px;
    padding: 0px 75px 0px 75px;
    min-width: 77vw;
    margin-top: 5px;
    background-color: #C4C4C4;
    display: table;
    /* border: 2px solid saddlebrown; */
}
.text {
    background-color: white;
    border: 0 solid;
    border-radius: 3px;
    padding: 2px;
    width: 15vw; 
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
}
.titlename{
    background-color: white;
    border: 0 solid;
    border-radius: 3px;
    padding: 2px;
    width: 7vw; 
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
}
.nickname {
    background-color: white;
    border: 0 solid;
    border-radius: 3px;
    padding: 2px;
    width: 10vw; 
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
}
.date {
    background-color: white;
    border: 0 solid;
    border-radius: 3px;
    padding: 2px;
    width: 10vw; 
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
}
.checkbox {
    background-color: white;
    border: 0 solid;
    border-radius: 3px;
    padding: 2px;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
}
.checkbox2 {
    background-color: white;
    border: 0 solid;
    border-radius: 3px;
    padding: 2px;
    width: 8vw; 
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
}
.age {
    background-color: white;
    border: 0 solid;
    border-radius: 3px;
    padding: 2px;
    width: 3vw; 
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
}
.gender {
    background-color: white;
    border: 0 solid;
    border-radius: 3px;
    padding: 2px;
    width: 8vw; 
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
}
.address {
    background-color: white;
    border: 0 solid;
    border-radius: 3px;
    padding: 2px;
    width: 8vw; 
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
}