.container {
    position: fixed;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    /* border: 10px solid sandybrown; */
    background-color: #E0E0E0;
    
}

.title {
    /* border: 5px solid paleturquoise; */
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    min-width: 100vw;
    margin: 0;
    padding: 0;
    color: #443F3F;
    font-size: small;
    background-color: #AB80AD;
}
.head1 {
    /* border: 5px solid pink; */
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
    /* margin-left: 120px; */
}
.line {
    width: 120px;
    border-top: 2px solid #443F3F;
    border-bottom: 0 solid ;
    border-right: 0 solid  ;
    border-left: 0 solid;
    margin-left: 10px;
    margin-right: 10px;
}
.line2 {
    border-left: 2px  solid #443F3F;
    border-top: 0 solid ;
    border-bottom: 0 solid ;
    border-right: 0 solid ;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
}
/* .head2 { */
    /* border: 5px solid red; */
/* }  */
.search {
    min-width: 55vw;
    min-height: 5vh;
    border-radius: 5px;
    background-color: rgba(196, 196, 196, 0.7);
    border: 0 solid;
}



.visitRecordHead {
    position: relative;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    margin-top: 30px;
    width: 200px;
    height: 80px;
    border: 0px solid;
    background-color: #C4C4C4;;
    border-radius: 15px;
    color: #443F3F;
    font-weight:bolder;
    font-size:large;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19) ;
}
.visitRecordbar {
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items: center;
    margin-top: 30px;
    height: 40px;
    min-width: 100vw;
    background-color: #C4C4C4;
    /* border: 2px solid red; */
}
.hn {
    padding: 10px;
    font-weight: bolder;
}
.hnSearch {
    background-color: #AB80AD;
    width: 20vw;
    padding: 7px;
    border: 0 solid;
    border-radius: 5px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2)
}
.edit {
    margin: 30px;
    background-color: #AB80AD;
    border: 0 solid;
    border-radius: 5px;
    padding: 7px;
    font-weight: bolder;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.2)
    
}
.save {
    background-color: #AB80AD;
    border: 0 solid;
    border-radius: 5px;
    padding: 7px;
    font-weight: bolder;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.2)
  
}



.visitRecordData {
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    margin-top: 30px;
    background-color:  #C4C4C4;
    padding: 15px;
    /* border: 5px solid salmon; */
   
}
.date {
    background-color: white;
    border: 0 solid;
    border-radius: 3px;
    padding: 10px;
    width: 10vw; 
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.2)
}
.physicianexam {
    background-color: white;
    border: 0 solid;
    border-radius: 3px;
    padding: 10px;
    width: 20vw;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.2)
}
.detail {
    background-color: white;
    border: 0 solid;
    border-radius: 3px;
    /* padding: 10px; */
    height: 120px;
    width: 40vw;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.2)
  
}
.font {
    font-weight: bolder;
}